body{
  background: url(https://s3.amazonaws.com/myfangate.com/rdfrozen/background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  // background-color: #023659;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;  
  img{
    width: 100%;
  }
}

// #art{
//   margin-top: -90px;
// }

#banner-img{
  // max-width: 640px;
  margin: 0 auto;
  position: relative;
}

.wrapper{
  // max-width: 1032px;
  position: relative;
  margin: 0 auto;
}

.banner{
  height: 250px;
}

#enter-wrap{
  background-color: rgba(4,102,146,0.7);
}
#enter, #entries{
  width: 90%;
  margin-left: 5%;
  text-align: center;
  img{
    width: 100%;
    // max-width: 730px;
  }
}

#enter img{padding: 40px 0;}
#entries img{padding: 15px 0;}

.shadow {
    -webkit-filter: drop-shadow( 0px 0px 5px #fff );
            filter: drop-shadow( 0px 0px 5px #fff ); /* Same syntax as box-shadow */
}

.shadow2 {
    -webkit-filter: drop-shadow( 0px 0px 5px #023659 );
            filter: drop-shadow( 0px 0px 5px #023659 ); /* Same syntax as box-shadow */
}

#ruleslink{
  margin: 20px;
  position: relative;
  z-index: 999999;
  a{
    font-weight: 100;
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
}
