#puzzlehider{
  position: relative;
  opacity: 0;
  height: 1px;
  .congrats{
    padding-top: 20%;
  }
  h1{
    color: #fff
  }
}

#puzzlestyle{
  margin: 0 auto;
}

.jqPuzzle .jqp-piece:hover {
 border-style: solid; 
}

.puzzle, .jqpuzzle{
  margin: 0 auto !important;
}

.puzzlewrap{
position: relative;
}


#overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.7);
  z-index: 7777;
  img{
    margin: 30% auto;
    width: 100%;
  }
}
